<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_product_save_after">
		<observer name="catalog_save_after_custom_catalog" instance="Altayer\CustomCatalog\Observer\CatalogProductSaveAfter"/>
	</event>
	<event name="catalog_product_delete_after">
		<observer name="catalog_delete_after_custom_catalog" instance="Altayer\CustomCatalog\Observer\CatalogProductDeleteAfter"/>
	</event>
</config>
