<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Altayer_CustomCatalog::custom_catalog_menu" resource="Altayer_CustomCatalog::custom_catalog" title="Custom Catalog" action="customcatalog/index/index" module="Altayer_CustomCatalog" sortOrder="30" parent="Magento_Catalog::inventory" dependsOnModule="Magento_Catalog"/></menu>
</config>
